// BASE COMPONENT
@mixin base() {

    html {
        -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: transparent;
        -webkit-text-size-adjust: 100%;
        box-sizing: border-box;
        height: 100%;
        overflow-y: scroll;
        position: relative;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    body {
        background: $base-background;
        color: $color-text;
        font: $base-font-size + px/$line-height-medium $base-font-family;
        font-weight: if($font-weight-medium == 500, null, $font-weight-medium);
        margin: 0;
        min-height: 100%;
        padding: $base-padding;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $color-heading;
        font-family: $heading-font-family;
        font-size: $heading-font-size;
        font-weight: $heading-font-weight;
        letter-spacing: $heading-letter-spacing;
        line-height: $heading-line-height;
        margin: unit($spacing-medium, $heading-font-size) 0;
    }

    p,
    hr,
    dl,
    fieldset,
    table,
    button,
    form,
    blockquote {
        margin: $spacing-medium 0;
    }

    a {
        -webkit-text-decoration-skip: objects;
        background-color: transparent;
        color: inherit;
        outline: 0;
        text-decoration: none;
    }

    strong {
        font-weight: $font-weight-bold;
    }

    small {
        font-size: $font-size-small;
    }

    ol,
    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

    li {
        display: block;
    }

    img {
        border-style: none;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    figure {
        margin: 0;
    }

    svg {
        display: inline-block;
        vertical-align: middle;
    }

    [hidden],
    .hidden {
        height: 0;
        opacity: 0;
        position: absolute;
        width: 0;
        z-index: -1;
    }

    iframe {
        border: 0;
    }

}
