// BLOCKQUOTE COMPONENT
@mixin blockquote (
    $border: 4px solid $color-primary,
    $color: null,
    $font-size: $font-size-large,
    $font-style: italic,
    $line-height: 1.8,
    $margin: 0 0.5em,
    $margin-inside: 0 0.5em,
    $padding: .2em 0 .5em .5em,
    $style: border
) {
    blockquote {
        font-size: $font-size;
        color: $color;
        font-style: $font-style;
        line-height: $line-height;
        padding: $padding;

        @if $style == 'border' {
            border-left: $border;
        }

        @else {
            position: relative;
            padding: $padding;

            &:before,
            &:after {
                position: absolute;
            }

            &:before {
                content: '\201C';
                top: 0;
                left: 0;
            }

            &:after {
                content: '\201D';
                bottom: 0;
                right: 0;
            }
        }

        p {
            margin: $margin
        }

    }

}
