// FOCUS EFFECT BACKGROUND IMAGE HELPER
@mixin focus-effect-background-image($color) {
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16" version="1.1"><circle cx="8" cy="8" r="8" fill="#{$color}"/></svg>');
}



// FOCUS EFFECT COMPONENT
@mixin focus-effect (
    $color: rgba(256,256,256,0.1),
    $duration: .2s,
    $scale: 240%,
    $selector: $button-selector
) {
    #{$selector} {
        @include focus-effect-background-image($color);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 0%;
        transition: background-size .4s ease-in-out, color .2s ease-in-out;

        &:active,
        &:focus {
            background-size: $scale;
        }

    }

}



// COMPONENT VARIATION
@mixin focus-effect-background (
    $color: rgba(256,256,256,0.1),
    $selector: ''
) {
    #{$selector} {
        @include focus-effect-background-image($color);
    }
}
