// INPUT COMPONENT
@mixin input(
    $background: null,
    $background-focus: null,
    $background-hover: null,
    $background-color: $color-white,
    $background-color-focus: null,
    $background-color-hover: lighten($color-primary, 5),
    $border: 1px solid $color-border,
    $border-focus: null,
    $border-hover: null,
    $border-color: null,
    $border-color-focus: $color-focus,
    $border-color-hover: darken($color-border, 5),
    $border-radius: null,
    $border-style: null,
    $border-width: null,
    $border-width-focus: null,
    $border-width-hover: null,
    $box-shadow: null,
    $box-shadow-focus: null,
    $box-shadow-hover: null,
    $color: $color-text,
    $color-focus: null,
    $color-hover: $color-white,
    $font-weight: $font-weight-medium,
    $letter-spacing: null,
    $margin: 0 0 $spacing-tiny,
    $margin-inline: 0 0 $spacing-tiny,
    $padding: $spacing-small,
    $additional-selector: '.input',
    $text-align: left,
    $text-shadow: null,
    $text-shadow-focus: null,
    $text-shadow-hover: null,
    $text-transform: none,
    $transition: border-color 0.2s ease-in-out,

    // select variables
    $select-icon: svg-url('<svg width="10" height="8"><path d="M10 2L5 8 0 2" fill="#{$color-text}"/></svg>'),
    $select-icon-padding: .75em,

    // option variables (radio & checkbox)
    $option-background-color: $color-white,
    $option-checkbox-border-radius: null,
    $option-checkbox-icon: svg-url('<svg width="12" height="12"><path d="M0 6.2l2.743 2.743L4.8 11l2.057-2.057L12 3.8 9.943 1.743 4.8 6.886 2.057 4.143 0 6.2z" fill="#{$color-text}"/></svg>'),
    $option-font-size: $font-size-medium,
    $option-font-weight: $font-weight-medium,
    $option-margin: -.2em .5em 0 0,
    $option-radio-color-checked: $color-focus,
    $option-size: $font-size-medium
) {

    $_input-selector: 'input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"])';

    // default input
    #{$_input-selector},
    select,
    textarea,
    [type="checkbox"] + label:before,
    [type="radio"] + label:before {
        background: $background;
        background-color: $background-color;
        border: $border;
        border-color: $border-color;
        border-radius: $border-radius;
        border-style: $border-style;
        border-width: $border-width;
        color: $color;
        display: block;
        font-weight: $font-weight;
        letter-spacing: $letter-spacing;
        margin: $margin;
        padding: $padding;
        text-align: $text-align;
        text-transform: $text-transform;
        transition: $transition;
        width: 100%;

        &:hover {
            background: $background-hover;
            background-color: $background-color-hover;
            border: $border-hover;
            border-color: $border-color-hover;
            border-width: $border-width-hover;
            box-shadow: $box-shadow-hover;
            color: $color-hover;
            text-shadow: $text-shadow-hover;
        }

    }

    // input focus
    #{$_input-selector},
    select,
    textarea {
        appearance: none;

        &:active,
        &:focus {
            outline: 0;
            background: $background-focus;
            background-color: $background-color-focus;
            border: $border-focus;
            border-color: $border-color-focus;
            border-width: $border-width-focus;
            box-shadow: $box-shadow-focus;
            color: $color-focus;
            text-shadow: $text-shadow-focus;
        }

    }

    // select
    select {
        appearance: none;
        background-image: $select-icon;
        background-position: center right $select-icon-padding;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    // textarea
    textarea {
        resize: vertical;
    }

    // options
    input[type="checkbox"],
    input[type="radio"] {
        display: none;

        & + label {
            display: inline;
            font-size: $option-font-size;
            font-weight: $option-font-weight;

            &:before {
                background-color: $option-background-color;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 0;
                content: "";
                cursor: pointer;
                display: inline-block;
                height: $option-size;
                margin: $option-margin;
                padding: 0;
                transition: background-size .2s ease-in-out;
                vertical-align: middle;
                width: $option-size;
            }

            &:after {
                content: '\A';
                white-space: pre;
            }

        }

        &:checked + label:before {
            background-size: 100%;
        }

    }

    // radio
    input[type="radio"] {

        & + label:before {
            border-radius: 50%;
        }

        &:checked + label:before {
            background-image: radial-gradient(ellipse at center, $border-color-focus 40%, $option-background-color 50%);
        }

    }

    // checkbox
    input[type="checkbox"]:checked + label:before {
        background-image: $option-checkbox-icon;
    }

    // number
    [type="number"]::-webkit-inner-spin-input,
    [type="number"]::-webkit-outer-spin-input {
        height: auto,
    }

    // search
    [type="search"] {
        -webkit-appearance: textfield;

        &::-webkit-search-cancel-input,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }

    }

    // upload
    ::-webkit-file-upload-input {
        -webkit-appearance: input;
        font: inherit;
    }

}
