// LINK COMPONENT
@mixin link (
    $background: null,
    $color: null,
    $font-style: null,
    $font-weight: null,
    $letter-spacing: null,
    $margin: null,
    $padding: null,
    $selector: "a",
    $text-transform: null
) {
    #{$selector} {
        background: $background;
        color: $color;
        font-style: $font-style;
        font-weight: $font-weight;
        margin: $margin;
        padding: $padding;
    }
}

@mixin link-extended (
    $color-focus: null,
    $color-hover: null,
    $color-active: null,
    $background-focus: null,
    $background-hover: null,
    $background-active: null,
    $selector: "a",
    $transition: null,
) {
    #{$selector} {
        transition: $transition;

        &:hover {
            color: $color-hover;
            background-color: $background-hover;
        }

        &:focus,
        &:active {
            color: $color-focus;
            background-color: $background-focus;
        }

        &.active {
            color: $color-active;
            background-color: $background-active;
        }

    }
}

