// LIST COMPONENT
@mixin list (
    $margin: $spacing-medium 0,
    $parent-selector: 'article',
    $number-color: $color-text,
    $number-font-size: 80%,
    $number-font-weight: 700,
    $number-spacing: unit(14),
    $number-top: unit(3),
    $number-width: unit(8),
    $bullet-border-radius: null,
    $bullet-character: "■",
    $bullet-font-size: unit(9),
    $bullet-color: $color-primary,
    $bullet-spacing: unit(14),
    $bullet-top: unit(10),
    $item-line-height: 1.75,
    $item-margin-bottom: .25em,
) {
    #{$parent-selector} {

        & ul,
        & ol {
            margin: $margin;

            & > li {
                position: relative;
                line-height: $item-line-height;
                margin-bottom: $item-margin-bottom;

                &:before {
                    display: block;
                    position: absolute;
                    left: 0;
                }
            }

            ul, ol {
                margin: 0;
            }

        }


        // ol
        & ol {
            counter-reset: list-counter;

            & > li {
                padding-left: $number-spacing + $number-width;

                &:before {
                    content: counter(list-counter)".";
                    counter-increment: list-counter;
                    top: $number-top;
                    width: $number-width;
                    font-weight: $number-font-weight;
                    font-size: $number-font-size;
                }

            }

        }


        // ul
       & ul {

            & > li {
                padding-left: $bullet-spacing + $bullet-font-size;

                &:before {
                    color: $bullet-color;
                    content: $bullet-character;
                    font-size: $bullet-font-size;
                    top: $bullet-top;
                }

            }

        }

    }

}
