// TEXT LINK COMPONENT
@mixin text-link (
    $border-bottom: 1px solid $color-primary,
    $border-color-hover: $color-primary,
    $border-color-focus: $color-focus,
    $color: $color-link,
    $color-focus: $color-focus,
    $color-hover: lighten($color-primary, 10),
    $line-height: 1.8em,
    $selector: "p a",
) {
    #{$selector} {
        border-bottom: $border-bottom;
        color: $color;
        display: inline-block;
        line-height: $line-height;

        &:hover {
            color: $color-hover;
            border-bottom-color: $border-color-hover;
        }

        &:focus,
        &:active {
            color: $color-focus;
            border-bottom-color: $border-color-focus;
        }

    }
}
