// color palette
$color-aqua: #7fdbff;
$color-black: #111111;
$color-blue: #0074d9;
$color-fuchsia: #f012be;
$color-gray:  #aaaaaa;
$color-green: #2ecc40;
$color-lime: #01ff70;
$color-maroon: #85144b;
$color-navy: #001f3f;
$color-olive: #3d9970;
$color-orange: #ff851b;
$color-purple: #b10dc9;
$color-red: #ff4136;
$color-silver: #dddddd;
$color-teal: #39cccc;
$color-white: #ffffff;
$color-yellow: #ffdc00;

