// colors
$color-text: $color-black;
$color-link: $color-blue;
$color-focus: darken($color-blue,10);
$color-border: $color-silver;
$color-primary: $color-blue;
$color-secondary: $color-navy;
$color-heading: $color-black;

// base
$base-background: null;
$base-font-size: 16;
$base-font-family: "Open Sans", Sans;
$base-padding: null;
$base-unit: em;

// font size
$font-size-tiny: unit(12);
$font-size-small: unit(14);
$font-size-medium: unit(16);
$font-size-large: unit(18);
$font-size-huge: unit(36);

// font-weight
$font-weight-thin: 300;
$font-weight-medium: 500;
$font-weight-bold: 600;

// line-height
$line-height-tiny: 1.4;
$line-height-small: 1.8;
$line-height-medium: 2;
$line-height-large: 2.5;
$line-height-huge: 3;

// headings
$heading-font-family: null;
$heading-font-size: unit(28);
$heading-font-weight: 400;
$heading-letter-spacing: null;
$heading-line-height: $line-height-tiny;

// spacing
$spacing-tiny: unit(8);
$spacing-small: unit(16);
$spacing-medium: unit(24);
$spacing-large: unit(32);
$spacing-huge: unit(40);

// breakpoints
$breakpoint-tiny: unit(480);
$breakpoint-small: unit(720);
$breakpoint-medium: unit(1024);
$breakpoint-large: unit(1280);
$breakpoint-huge: unit(1600);

