
{% capture class %}{% if include.class != "transparent" %}block{% if include.class %} {{ include.class }}{% endif %}{% endif %}{% endcapture %}

<section {% if class %}class="{{ class }}"{% endif %}>

  {% if include.item.title and include.item.title != '' %}
    <h3>{{ include.item.title }}</h3>
  {% else %}
    <h3 class="hidden">{{ include.default-title }}</h3>
  {% endif %}

  {{ include.item.description | markdownify | replace: "\", "<br/>" }}

  {% if include.item.items and include.type %}
    {% assign file = include.type | prepend: "components/" | append: ".html" %}
    {% include {{file}} items=include.item.items %}
  {% endif %}

</section>
