// card component
@mixin card (
    $selector: ".card",
    $border: null,
    $padding: $spacing-medium,
    $image-ratio: 75%,
    $margin-bottom: null,
    $max-width: null
) {
    #{$selector} {
        margin-bottom: $margin-bottom;
        max-width: $max-width;
        & > div {
            border: $border;
            padding: $padding;
        }

        h3 {
            margin-top: 0;
        }

        & > picture  {

            &:before {
                padding-top: $image-ratio;
            }

        }
    }

}


