// PAGE COMPONENTS

// page (critical)
@mixin page {

    body > * {
        padding-left: $spacing-large;
        padding-right: $spacing-large;
    }

    body > header {
        padding-top: unit(64);
        margin-bottom: $spacing-large;

        & > a {
            display: block;
            font-size: $font-size-huge;
            font-weight: 300;
            margin: $spacing-small 0;
        }

        & > picture:before {
            padding-top: 50%; // 2:1 ratio
        }

    }

    main,
    body > footer {
        visibility: hidden;
        opacity: 0;
    }

    body > nav {
        position: fixed;
        height: unit(64);
        left: 0;
        right: 0;
        top: 0;
        z-index: 9;
    }

    img {
        opacity: 0;
    }

    picture {
        display: block;
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 100%;
            background-color: $color-gray;
            overflow: hidden;
        }
    }

}

// page small
@mixin page-small {

    body > nav {
        padding: 0;

        & > a {
            width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
        }

    }

}


// page large
@mixin page-large {
    body > * {
        @include wrap($spacing-large, $breakpoint-large);
    }
}

// page loaded (non-critical)
@mixin page-loaded {
    main,
    body > footer {
        visibility: visible;
        animation: 0.15s ease-out 0.25s 1 fadeIn forwards;

        html.unload & {
            animation: 0.15s ease-out fadeOut forwards;
        }
    }

    picture > img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    @keyframes imageFadeIn {
      50%   { opacity: 0; }
      100%  { opacity: 1; }
    }

    img.lazyloaded {
        animation: imageFadeIn 1s forwards;

        main & {
            animation-delay: .25s;
        }
    }

}


