---
layout: compress
---

<!DOCTYPE html>
<html lang="nl">

  {% include head.html %}

  <body>

    {% include_cached svg/icons.svg %}

    <h1 class="hidden">{{ site.title }}</h1>
    {% include header.html %}

    {% if page.image %}
    <figure id="banner">
        {% include components/image.html image=page.image style="banner" %}
    </figure>
    {% endif %}

    <main id="main">
      {{ content }}
    </main>

    {% include_cached footer.html %}
    {% include_cached scripts.html %}

    {% asset css/non-critical %}
    <link href="https://fonts.googleapis.com/css?family={{ site.webfont.non-critical }}" rel="stylesheet">

  </body>
</html>
