// global grid map
$grid-gaps: ();


// grid
@mixin grid (
    $selector: '.grid',
    $columns: 3,
    $gap: null,
) {
    $gutter: $gap / 2;
    $width: decimal-round((100% / $columns), 3);

    #{$selector} {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$gutter;
        margin-right: -$gutter;

        & > * {
            width: calc(#{$width} - #{$gap});
            margin-left: $gutter;
            margin-right: $gutter;
        }
    }

    $grid-gaps: map-merge($grid-gaps, ($selector: $gap)) !global;

}


// grid columns
@mixin grid-columns (
    $selector: '.grid',
    $columns: null,
    $gap: map-get($grid-gaps, $selector)

) {
    $width: decimal-round((100% / $columns), 3);
    $gap-changed: if($gap and $gap != map-get($grid-gaps, $selector), $gap, null);
    $gutter: if($gap-changed, $gap / 2, null);

    #{$selector} {

        @if $gap-changed {
            margin-left: -$gutter;
            margin-right: -$gutter;
        }

        & > * {
            @if $columns {
                width: calc(#{$width} - #{$gap});
            }
            @if $gap-changed {
                margin-left: $gutter;
                margin-right: $gutter;
                margin-bottom: $gap;
            }
        }
    }
}

